<a href="https://colab.research.google.com/github/Nihmat-git/First-Project/blob/main/Copy_2_of_Assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 7 (Week 7)

>**Note**: 

```
- Late submissions are penalized.
- Only GitHub submissions are acceptable.
```

## Name: Enter Your Name

<br> Nihmat Aminu

## Please show and display ALL your calculations and results.
> Remember to read the **`instructions`** carefully.

In [23]:
# Built-in library
import itertools

# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import KBinsDiscretizer



# pandas settings
pd.options.display.max_rows = 1_000
pd.options.display.max_columns = 1_000
pd.options.display.max_colwidth = 1_000


# Black code formatter (Optional)
#%load_ext lab_black

> The data can be found [here](https://drive.google.com/file/d/1_c3KA14xQC02K0QZ4cpi1emjdz0rqHzb/view?usp=share_link).

### Data Dictionary

```
- Age: continuous.

- Workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.

- Final_weight: continuous.

- Education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, - Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.

- Education_num: continuous.

- Marital_status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, - Married-AF-spouse.

- Occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.

- Relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.

- Race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.

- Genger: Female, Male.

- Capital_gain: continuous.

- Capital_loss: continuous.

- Hours_per_week: continuous.

- Country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

- Salary: 
```

### Objective

```
Predict whether a person makes over 50K a year.

```



###  Qs 1. Build a machine learning model that predicts the salary.

###  Qs 2. Evaluate the performance of your model using at least three (3) performance metrics.

<hr>

## Note: 

- The assignment **should** be submitted through a `public` GitHub repository.

In [24]:
# Load Data
df = pd.read_csv('salary.csv')
df.head()

,Age,Workclass,Final_weight,Education,Education_num,Marital_status,Occupation,Relationship,Race,Sex,Capital_gain,Capital_loss,Hours_per_week,Country,Salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K

In [25]:
# check out for data types
df.dtypes

Age                 int64
Workclass          object
Final_weight        int64
Education          object
Education_num       int64
Marital_status     object
Occupation         object
Relationship       object
Race               object
Sex                object
Capital_gain      float64
Capital_loss      float64
Hours_per_week    float64
Country            object
Salary             object
dtype: object

In [26]:
# Rename the target variable 
df = df.rename(columns={"Salary": "Predicted"})

In [27]:
# Check for NaNs
df.isna().sum()

Age               0
Workclass         0
Final_weight      0
Education         0
Education_num     0
Marital_status    0
Occupation        0
Relationship      0
Race              0
Sex               1
Capital_gain      1
Capital_loss      1
Hours_per_week    1
Country           1
Predicted         1
dtype: int64

In [28]:
# discretizing the dataset
features = ['Age', 'Education_num', 'Hours_per_week']
list = df[features].copy()
list.head()

   Age  Education_num  Hours_per_week
0   50             13            13.0
1   38              9            40.0
2   53              7            40.0
3   28             13            40.0
4   37             14            40.0

In [29]:
LABELS = ["Old", "Young"]
feat = "Age"

list[f"{feat}_binned"] = pd.qcut(
    x=list[feat], q=2, labels=LABELS, duplicates="drop"
)

list.head()

   Age  Education_num  Hours_per_week Age_binned
0   50             13            13.0      Young
1   38              9            40.0      Young
2   53              7            40.0      Young
3   28             13            40.0        Old
4   37             14            40.0        Old

In [30]:
LABELS = ["High", "Low"]
feat = "Education_num"

list[f"{feat}_binned"] = pd.qcut(
    x=list[feat], q=2, labels=LABELS, duplicates="drop"
)

list.head()

   Age  Education_num  Hours_per_week Age_binned Education_num_binned
0   50             13            13.0      Young                  Low
1   38              9            40.0      Young                 High
2   53              7            40.0      Young                 High
3   28             13            40.0        Old                  Low
4   37             14            40.0        Old                  Low

In [31]:
LABELS = ["Normal time", "Overtime"]
feat = "Hours_per_week"

list[f"{feat}_binned"] = pd.qcut(
    x=list[feat], q=2, labels=LABELS, duplicates="drop"
)

list.head()

,Age,Education_num,Hours_per_week,Age_binned,Education_num_binned,Hours_per_week_binned
0,50,13,13.0,Young,Low,Normal time
1,38,9,40.0,Young,High,Normal time
2,53,7,40.0,Young,High,Normal time
3,28,13,40.0,Old,Low,Normal time
4,37,14,40.0,Old,Low,Normal time

In [32]:
# value counts of the colummn to be predicted
df['Predicted'].value_counts(normalize=True).mul(100)

 <=50K    76.090838
 >50K     23.909162
Name: Predicted, dtype: float64

In [33]:
# find the unique values in the workclass
df['Workclass'].unique()

array([' Self-emp-not-inc', ' Private', ' State-gov', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [34]:
# Rename the unknown variable
df["Workclass"]=df["Workclass"].apply(lambda x:"Others" if " ?" in x else x)
df["Workclass"].unique()

array([' Self-emp-not-inc', ' Private', ' State-gov', ' Federal-gov',
       ' Local-gov', 'Others', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [35]:
# Drop unnecessary columns
df.drop(columns=['Occupation'], axis=1, inplace=True)
df.head()

,Age,Workclass,Final_weight,Education,Education_num,Marital_status,Relationship,Race,Sex,Capital_gain,Capital_loss,Hours_per_week,Country,Predicted
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K

In [37]:
df.loc[df['Workclass'].str.contains(' Self-emp-not-inc'), 'Workclass'] = 'Self-emp-not-inc'
df['Workclass'].unique()

array(['Self-emp-not-inc', 'Private', ' State-gov', ' Federal-gov',
       ' Local-gov', 'Others', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [36]:
df.loc[df['Workclass'].str.contains(' Private'), 'Workclass'] = 'Private'
df['Workclass'].unique()

array([' Self-emp-not-inc', 'Private', ' State-gov', ' Federal-gov',
       ' Local-gov', 'Others', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [38]:
df.loc[df['Workclass'].str.contains(' State-gov'), 'Workclass'] = 'State-gov'
df['Workclass'].unique()

array(['Self-emp-not-inc', 'Private', 'State-gov', ' Federal-gov',
       ' Local-gov', 'Others', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [39]:
df.loc[df['Workclass'].str.contains(' Federal-gov'), 'Workclass'] = 'Federal-gov'
df['Workclass'].unique()

array(['Self-emp-not-inc', 'Private', 'State-gov', 'Federal-gov',
       ' Local-gov', 'Others', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [40]:
df.loc[df['Workclass'].str.contains(' Local-gov'), 'Workclass'] = 'Local-gov'
df['Workclass'].unique()

array(['Self-emp-not-inc', 'Private', 'State-gov', 'Federal-gov',
       'Local-gov', 'Others', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [41]:
df.loc[df['Workclass'].str.contains(' Self-emp-inc'), 'Workclass'] = 'Self-emp-inc'
df['Workclass'].unique()

array(['Self-emp-not-inc', 'Private', 'State-gov', 'Federal-gov',
       'Local-gov', 'Others', 'Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [42]:
df.loc[df['Workclass'].str.contains(' Without-pay'), 'Workclass'] = 'Without-pay'
df['Workclass'].unique()

array(['Self-emp-not-inc', 'Private', 'State-gov', 'Federal-gov',
       'Local-gov', 'Others', 'Self-emp-inc', 'Without-pay',
       ' Never-worked'], dtype=object)

In [43]:
df.loc[df['Workclass'].str.contains(' Never-worked'), 'Workclass'] = 'Never-worked'
df['Workclass'].unique()

array(['Self-emp-not-inc', 'Private', 'State-gov', 'Federal-gov',
       'Local-gov', 'Others', 'Self-emp-inc', 'Without-pay',
       'Never-worked'], dtype=object)

In [44]:
df['Workclass'].value_counts(normalize=True)

Private             0.697874
Self-emp-not-inc    0.078502
Local-gov           0.063047
Others              0.056073
State-gov           0.040172
Self-emp-inc        0.034313
Federal-gov         0.029571
Without-pay         0.000279
Never-worked        0.000167
Name: Workclass, dtype: float64

In [45]:
df.loc[df["Workclass"].str.contains("State-gov"),"Workclass"]= "Goverment"
df.loc[df["Workclass"].str.contains("Federal-gov"),"Workclass"]="Goverment"
df.loc[df["Workclass"].str.contains("Local-gov"),"Workclass"]="Goverment"
df.loc[df["Workclass"].str.contains("Self-emp-inc"),"Workclass"]= "Others"
df.loc[df["Workclass"].str.contains("Without-pay"),"Workclass"]="Others"
df.loc[df["Workclass"].str.contains("Never-worked"),"Workclass"]="Others"
df.loc[df["Workclass"].str.contains("Self-emp-not-inc"),"Workclass"]="Others"

In [46]:
# OHE
df_final = pd.get_dummies(df, drop_first=True)
df_final

,Age,Final_weight,Education_num,Capital_gain,Capital_loss,Hours_per_week,Workclass_Others,Workclass_Private,Education_ 11th,Education_ 12th,Education_ 1st-4th,Education_ 5th-6th,Education_ 7th-8th,Education_ 9th,Education_ Assoc-acdm,Education_ Assoc-voc,Education_ Bachelors,Education_ Doctorate,Education_ HS-grad,Education_ Masters,Education_ Preschool,Education_ Prof-school,Education_ Some-college,Marital_status_ Married-AF-spouse,Marital_status_ Married-civ-spouse,Marital_status_ Married-spouse-absent,Marital_status_ Never-married,Marital_status_ Separated,Marital_status_ Widowed,Relationship_ Not-in-family,Relationship_ Other-relative,Relationship_ Own-child,Relationship_ Unmarried,Relationship_ Wife,Race_ Asian-Pac-Islander,Race_ Black,Race_ Other,Race_ White,Sex_ Male,Country_ Cambodia,Country_ Canada,Country_ China,Country_ Columbia,Country_ Cuba,Country_ Dominican-Republic,Country_ Ecuador,Country_ El-Salvador,Country_ England,Country_ France,Country_ Germany,Country_ Greece,Country_ Guatemala,Country_ Haiti,Country_ Honduras,Country_ Hong,Country_ Hungary,Country_ India,Country_ Iran,Country_ Ireland,Country_ Italy,Country_ Jamaica,Country_ Japan,Country_ Laos,Country_ Mexico,Country_ Nicaragua,Country_ Outlying-US(Guam-USVI-etc),Country_ Peru,Country_ Philippines,Country_ Poland,Country_ Portugal,Country_ Puerto-Rico,Country_ Scotland,Country_ South,Country_ Taiwan,Country_ Thailand,Country_ Trinadad&Tobago,Country_ United-States,Country_ Vietnam,Country_ Yugoslavia,Predicted_ >50K
0,50,83311,13,0.0,0.0,13.0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,38,215646,9,0.0,0.0,40.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,53,234721,7,0.0,0.0,40.0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,28,338409,13,0.0,0.0,40.0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,37,284582,14,0.0,0.0,40.0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17918,40,187702,13,0.0,0.0,40.0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
17919,62,41718,6,0.0,0.0,35.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
17920,37,151835,15,0.0,0.0,45.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
17921,18,118938,7,0.0,0.0,18.0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
17922,48,224870,9,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
X = df.drop(['Predicted'], axis=1).values
y = df['Predicted'].values

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [55]:
X_train, X_validation, y_train, y_validation = train_test_split(
    X, y, test_size=0.3
)

X_train.shape, X_validation.shape

((12546, 13), (5377, 13))

In [61]:
df["Workclass"].unique()

array(['Others', 'Private', 'Goverment'], dtype=object)

In [60]:
RANDOM_STATE = 123
from sklearn.ensemble import RandomForestRegressor

# Instantiate
random_forest_model = RandomForestRegressor(random_state=RANDOM_STATE)

# Fit
random_forest_model.fit(X_train, y_train)

ValueError: ignored

In [56]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

ValueError: ignored

In [25]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
X = le.fit_transform(X)

ValueError: ignored

In [40]:
from sklearn.linear_model import LinearRegression

# Instantiate
linear_model = LinearRegression()

# Fit
linear_model.fit(X_train, y_train)

# Make predictions
y_pred = linear_model.predict(X_validation)

ValueError: ignored